<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="MyURI"
            class="org.ckulla.xtend2utils.emffactory.test.foo.FooPackage"
            genModel="src/org/eclipse/emf/xtendfactory/XtendFactoryTest.genmodel"/>
   </extension>

</plugin>
