<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.openarchitectureware.org/vis/graphviz/Dot"
            class="org.eclipse.emf.visualization.graphviz.dot.DotPackage"
            genModel="src/org/eclipse/emf/visualization/graphviz/Dot.genmodel"/>
   </extension>

</plugin>
